{{#each data}}
  <li class='card' data-id='{{id}}'>
    <div class='card-content'>
      <h2 class='card-name'><b>Name:</b> {{name}}</h2>
      <div>
        <span class='card-phone'><b>Phone:</b> {{phone}}</span>
      </div>
      <div>
        <span class='card-email'><b>Email:</b> {{email}}</span>
      </div>
      <div>
        <span class='card-comment'><b>Message:</b> {{comment}}</span>
      </div>
    </div>
  </li>
{{/each}}